@use "../variables/colors" as *;

.hidden {
  display: none;
}

.notification {
  width: 92%;
  margin: 8px 0px;
  display: flex;
  justify-content: flex-start;

  p {
    color: $DarkGreyBlue;
    line-height: 1.7rem;
    margin-top: 20px;
  }

  .name {
    color: $VeryDarkGreyBlue;
    font-weight: 800;
    display: inline;
    margin-right: 0.4375rem;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  .post-title {
    font-weight: 800;
    color: $DarkGreyBlue;
    display: inline;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  .useravatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 1.25rem;
  }

  .noti-image {
    margin: auto 20px auto auto;
    height: 2.8125rem;
    width: 2.8125rem;
  }

  button {
    border: none;
    padding: .3125rem;
    background: $blue;
    color: white;
    border-radius: 7px;
    margin-left: .3125rem;
  }
}
.message {
  margin-left: 7rem;
  margin-right: 3rem;
  color: $DarkGreyBlue;

  &:hover {
    background-color: $Snow;
  }

  p {
    margin: 20px 20px;
  }
}

.unread {
  background-color: $Snow;
  .content{
    &:after {
      content: "";
      height: 11px;
      width: 11px;
      background-color: $red;
      border-radius: 50%;
      display: inline-block;
      margin-left: .375rem;
    }
  }
}

@media (max-width: 420px) {
  .notification {
    padding: 0rem 1.25rem;

    p {
      font-size: 14px;
      line-height: 18px;
      margin-top: 0.6rem;
    }

    .useravatar {
      height: 39px;
      width: 39px;
      border-radius: 50%;
      margin: 0.6rem 0.6rem 0.6rem 0rem;
    }

    .age {
      position: relative;
      top: .1875rem;
    }

    .noti-image {
      margin: auto auto auto 10px;
      height: 2.8125rem;
      width: 2.8125rem;
    }
  }

}
