@use "../variables/colors" as *;

.notification {
  background-color: $Snow;
  width: 92%;
  margin: 8px 0px;
  min-height: 80px;
  display: flex;
  justify-content: flex-start;

  p {
    color: $DarkGreyBlue;
    line-height: 1.7rem;
    margin-top: 20px;
  }

  .name {
    color: $VeryDarkGreyBlue;
    font-weight: 800;
    display: inline;
    margin-right: 0.4375rem;
  }

  .post-title {
    font-weight: 800;
    color: $DarkGreyBlue;
    display: inline;
  }

  .useravatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 1.25rem;
  }
}

.unread {
  .post-title {
    &:after {
      content: "";
      height: 11px;
      width: 11px;
      background-color: $red;
      border-radius: 50%;
      display: inline-block;
      margin-left: .375rem;
    }
  }
}

@media (max-width: 420px) {
  .notification {
    p {
      font-size: 14;
      line-height: 18px;
    }
  }

}
